@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5; /* neutral-200 */
  --foreground: #262626; /* neutral-800 */  
  --primary: #f87171; /* red-400 */
  --secondary: #737373; /* neutral-700 */
  --background-secondary: #d4d4d4; /* neutral-300 */
  --background-tertiary: #a3a3a3; /* neutral-400 */
  --line: #262626; /* neutral-500 */
}

:root.dark {
  --background: #262626; /* neutral-800 */
  --foreground: #e5e5e5; /* neutral-200 */
  --primary: #f87171; /* red-400 */
  --secondary: #d4d4d4; /* neutral-300 */
  --background-secondary: #404040; /* neutral-700 */
  --background-tertiary: #525252; /* neutral-600 */
  --line: #737373; /* neutral-500 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.animated-underline {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.animated-underline:hover::after {
    width: 100%;
}

